/** @format */

@import url('./typography.css');

:root {
  /* COLORS */
  --brown-800: hsl(14, 45%, 36%);
  --grey: hsl(0, 0%, 88%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --white: hsl(0, 0%, 100%);

  /* SPACING */
  --spacing-2xl: calc(40 / 16 * 1rem);
  --spacing-xl: calc(35 / 16 * 1rem);
  --spacing-l: calc(32 / 16 * 1rem);
  --spacing-m: calc(24 / 16 * 1rem);
  --spacing-xs: 1rem;
  --spacing-xxs: calc(12 / 16 * 1rem);

  /* DIMENSSIONS*/
  --content-width: calc(736 / 16 * 1rem);

  /* RADIUS */
  --radius-m: calc(24 / 16 * 1rem);
  --radius-s: calc(10 / 16 * 1rem);

  /* BORDERS */
  --border-solid: calc(1 / 16 * 1rem) solid var(--grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-size: var(--font-size-body);
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--stone-900);
  font-family: var(--font-family-young-serif);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-bold);
  margin-block-end: var(--spacing-m);
}

.wrapper {
  background-color: var(--white);
  margin: auto;
}

/* HEADER */
.header__content {
  padding-inline: var(--spacing-l);
}

.hero__img {
  display: block;
  width: 100%;
  margin-block-end: var(--spacing-2xl);
}

.heading {
  font-size: var(--font-size-heading);
}

/* MAIN */
main {
  background-color: var(--white);
  padding-inline: var(--spacing-l);
  padding-block: var(--spacing-2xl);
}

.segment {
  display: block;
  margin-block-end: var(--spacing-l);
}

hr {
  border: none;
  border-block-end: var(--border-solid);
  margin-block-end: var(--spacing-l);
}

.segment--prep {
  background-color: var(--rose-50);
  border-radius: var(--radius-s);
  padding: var(--spacing-m);
}

.subheading {
  color: var(--brown-800);
  font-size: var(--font-size-heading-sub);
}

.subheading--prep {
  color: var(--rose-800);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-heading-detail);
  font-weight: var(--font-weight-bold-semi);
  margin-block-end: calc(15 / 16 * 1rem);
}

/* LIST */
.list {
  list-style: none;
  padding-inline-start: calc(7 / 16 * 1rem);
}

.list__item {
  align-items: center;
  display: flex;
  gap: var(--spacing-l);
  margin-block-end: var(--spacing-xxs);
}

.list__item:last-of-type {
  margin-block-end: 0;
}

.list__item--marker {
  background-color: var(--brown-800);
  border-radius: 50%;
  padding: calc(2 / 16 * 1rem);
}

.segment--prep .list__item--marker {
  background-color: var(--rose-800);
}

.list__item strong {
  font-weight: var(--font-weight-bold);
}

.list--number {
  list-style: decimal;
  margin-inline-start: calc(14 / 16 * 1rem);
}

.list--number .list__item {
  display: list-item;
}

.list--number .list__item::marker {
  color: var(--brown-800);
  font-weight: var(--font-weight-bold);
}

.list--number .list__item .list__item--text {
  margin-inline-start: var(--spacing-m);
}

/* NUTRITION */
.segment--nutrition {
  margin-block-end: 0;
}

.nutrition__table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.nutrition__table caption {
  letter-spacing: var(--letter-spacing-normal);
  margin-block-end: var(--spacing-m);
  text-align: left;
}

.nutrition__table tr th,
.nutrition__table tr td {
  border-block-end: var(--border-solid);
  padding-block: var(--spacing-xs);
}

.nutrition__table tr th {
  padding-inline-start: calc(30 / 16 * 1rem);
}

.nutrition__table tr:first-of-type th,
.nutrition__table tr:first-of-type td {
  padding-block-start: 0;
}

.nutrition__table tr:last-of-type th,
.nutrition__table tr:last-of-type td {
  border-block-end: none;
  padding-block-end: 0;
}

.nutrition__table strong {
  color: var(--brown-800);
}

/* FOOTER */

.attribution {
  background-color: var(--white);
  font-size: var(--font-size-detail);
  text-align: center;
  width: 100%;
}

.attribution a,
.attribution a:visited {
  color: var(--rose-800);
  font-weight: var(--font-weight-bold-semi);
}

.attribution a:hover,
.attribution a:active {
  color: var(--brown-800);
}

/* RESPONSIVE */

@media (min-width: 48rem) {
  header {
    background-color: var(--white);
    padding: var(--spacing-2xl);
    padding-block-end: 0;
  }

  .header__content {
    padding: 0;
  }

  .hero__img {
    border-radius: var(--radius-s);
  }

  .nutrition__table tr {
    width: 100%;
  }

  .nutrition__table th {
    padding-inline-start: var(--spacing-2xl);
    width: 50%;
  }

  footer {
    padding-block: var(--spacing-l);
    position: relative;
  }
}

@media (min-width: 64rem) {
  body {
    padding-block: calc(124 / 16 * 1rem);
  }

  header {
    border-radius: var(--radius-m) var(--radius-m) 0 0;
  }

  main {
    padding-inline: var(--spacing-2xl);
  }

  .wrapper {
    max-width: var(--content-width);
    overflow-x: hidden;
  }

  .attribution {
    border-radius: 0 0 var(--radius-m) var(--radius-m);
  }
}
