/** @format */

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400, 600, 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Young Serif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /*typography*/
  --font-family-outfit: 'Outfit', sans-serif;
  --font-family-young-serif: 'Young Serif', serif;

  --font-size-body: 1rem;
  --font-size-detail: calc(13 / 16 * 1rem);
  --font-size-heading: calc(34 / 16 * 1rem);
  --font-size-heading-sub: calc(28 / 16 * 1rem);
  --font-size-heading-detail: calc(20 / 16 * 1rem);

  --font-weight-regular: 400;
  --font-weight-bold-semi: 600;
  --font-weight-bold: 700;

  /* letter spacing*/
  --letter-spacing-bold: calc(1 / 16 * 1rem);
  --letter-spacing-normal: calc(0.3 / 16 * 1rem);

  /*line heights*/
  --line-height-body: 150%;
  --line-height-heading: 105%;
}

@media (min-width: 48rem) {
  :root {
    --font-size-heading: calc(40 / 16 * 1rem);
  }
}
